<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.abusalam.android.projectaio">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DashAIO"
            android:label="@string/title_Home">
            <intent-filter android:label="@string/app_caption">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sms.GroupSMS"
            android:label="@string/title_activity_group_sms"
            android:parentActivityName=".DashAIO"
            android:windowSoftInputMode="adjustResize"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.abusalam.android.projectaio.DashAIO" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".DashAIO"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.abusalam.android.projectaio.DashAIO" />
        </activity>
        <activity
            android:name=".mpr.SchemeActivity"
            android:label="@string/title_activity_scheme"
            android:parentActivityName=".DashAIO"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.abusalam.android.projectaio.DashAIO" />
        </activity>
        <activity
            android:name=".mpr.WorkActivity"
            android:label="@string/title_activity_work"
            android:parentActivityName=".mpr.UserActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.abusalam.android.projectaio.mpr.UserActivity" />
        </activity>
        <activity
            android:name=".mpr.ProgressActivity"
            android:label="@string/title_activity_progress_mpr"
            android:parentActivityName=".mpr.WorkActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.abusalam.android.projectaio.mpr.WorkActivity" />
        </activity>
        <activity
            android:name=".mpr.UserActivity"
            android:label="@string/title_activity_user"
            android:parentActivityName=".mpr.SchemeActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.abusalam.android.projectaio.mpr.SchemeActivity" />
        </activity>
        <activity
            android:name=".sms.GroupActivity"
            android:label="@string/title_activity_groups"
            android:parentActivityName=".DashAIO"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.abusalam.android.projectaio.DashAIO" />
        </activity>
    </application>

</manifest>